{% extends 'base_site.html' %}
{% block title %}
首页
{% endblock %}

{% block content %}

<main>
    <section class="slider-area">
        <div class="slider-active">            
            <div class="single-slider slider-bg1 slider-height d-flex align-items-center">
                <div class="container">
                    <div class="rowr">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8  col-sm-10">
                            <div class="hero-caption text-center">

                                <h1 data-animation="bounceIn" data-delay="0.2s">印迹不凡，始于1997</h1>
                                <p data-animation="fadeInUp" data-delay="0.4s">
                                    Green Rich(金瑞治)专注有机感光鼓芯研发二十余载，凭借高感度、高耐用性产品，广泛应用于激光打印机、传真机与复印机领域。持续创新，只为每一次清晰、稳定的输出表现。
                                </p>
                                <a href="/c108p1.html" class="btn_1 hero-btn mb-10" data-animation="fadeInUp"
                                    data-delay="0.7s">去看看</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg2 slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10">
                            <div class="hero-caption text-center">

                                <h1 data-animation="bounceIn" data-delay="0.2s">合作共赢</h1>
                                <p data-animation="fadeInUp" data-delay="0.4s">
                                    合作共赢，携手创辉煌！我们致力于与您建立互利互惠的合作伙伴关系，共同追求业务成功和持续发展。</p>
                                <a href="/c109p1.html" class="btn_1 hero-btn"
                                    data-animation="fadeInUp" data-delay="0.7s">提交申请</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gauto-find-area mt-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="find-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="find-text">
                                    <h3>常见机型</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="find-form">
                                    <div class="row">
                                        {{ widget("685d49e6eb5993a4fc81ef3d") }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="latest-items section-padding fix">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-12">
                    <div class="nav-button">
                        <nav>
                            <div class="nav-tittle">
                                <h3>最新上架</h3>
                            </div>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
<!--                                <a class="nav-link active" role="tab">综合</a>-->
<!--                                <a class="nav-link">芯片</a>-->
<!--                                <a class="nav-link">碳粉</a>-->
<!--                                <a  class="nav-link">墨盒与粉盒</a>-->

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                    <div class="latest-items-active">
                         {{ widget("685d4bddeb5993a4fc81ef54") }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="home-blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-40">
                        <h2><a href="/c105p1.html">行业资讯</a></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                 {{ widget("685d4f7beb5993a4fc81ef7c") }}
            </div>
        </div>
    </section>
    <section class="gauto-about-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-left">
                        <h3>关于我们</h3>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ widget("66efd16d10df7056e43b9c4e") }}
                            &nbsp;&nbsp;<a style="color:#000" href="/c108p1.html"> 了解更多>> </a>

                        </p>
                        <div class="about-list">
                            <ul>
                                <li><i class="fa fa-check"></i>三家直销</li>
                                <li><i class="fa fa-check"></i>全球配送</li>
                                <li><i class="fa fa-check"></i>诚信保障</li>
                                <li><i class="fa fa-check"></i>无忧售后</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right">
                        <img src="images/about.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="categories-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="images/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>快速物流全球配送</h5>
                            <p>支持国内、国外物流及快递配送</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="images/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>安全支付</h5>
                            <p>采用微信支付，支付宝，PayPal安全可靠</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="images/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>退款保证</h5>
                            <p>7天无条件退货退款</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="images/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>售后支付</h5>
                            <p>24小时客服全天在线</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="container mt-20 a-white f-link">
    友情连接:
    <a target=_blank href="http://www.ebsite.net">ebsite</a>

</div>
<footer>
    <div class="footer-wrapper gray-bg">

        <div class="footer-area footer-padding">

            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-20">
                            <div class="single-footer-caption ">
                                <!-- logo -->
                                <div class="footer-logo ">
                                    <a href="/"><img src="/images/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>配件</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/182a7113b0c.html">加热片 110V</a></li>

                                    <li class="text-truncate"><a href="/178a1280b0c.html">长寿命搓纸轮</a></li>

                                    <li class="text-truncate"><a href="/174a768b0c.html">上分离爪</a></li>

                                    <li class="text-truncate"><a href="/178a512b0c.html">带芯搓纸轮（新）</a></li>

                                    <li class="text-truncate"><a href="/178a2048b0c.html">进纸轮/分纸轮皮套-PU(红色)</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>感光鼓及套鼓</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/171a7104b0c.html">日本鼓（10mm） - 150K</a></li>

                                    <li class="text-truncate"><a href="/171a513b0c.html">DU102C/104 套鼓 - 230K</a></li>

                                    <li class="text-truncate"><a href="/171a514b0c.html">DR512K 套鼓（黑色） - 130K</a></li>

                                    <li class="text-truncate"><a href="/171a515b0c.html">DR512 套鼓（彩色） - 90K</a></li>

                                    <li class="text-truncate"><a href="/171a1026b0c.html">单鼓（日本） - 150K</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>墨盒与粉盒</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/170a1792b0c.html">CET专利直销机黑色成品粉-化学粉 - 595g/Pc -
                                            36K</a></li>

                                    <li class="text-truncate"><a href="/170a1024b0c.html">黑色成品粉 - 450g/Pc - 20K</a></li>

                                    <li class="text-truncate"><a href="/170a1025b0c.html">TN911成品粉 - 1740g/Pc - 80K</a>
                                    </li>

                                    <li class="text-truncate"><a href="/170a1793b0c.html">CET专利黄色成品粉-化学粉 - 340g/Pc -
                                            21K</a></li>

                                    <li class="text-truncate"><a href="/170a7087b0c.html">成品粉 - 14.1K</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>芯片</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/168a7123b0c.html">黄色粉芯片 - 22.5K</a></li>

                                    <li class="text-truncate"><a href="/168a6656b0c.html">黑色粉芯片 - 10K</a></li>

                                    <li class="text-truncate"><a href="/168a4609b0c.html">黑色粉芯片 - 15K</a></li>

                                    <li class="text-truncate"><a href="/168a4608b0c.html">品红粉芯片 - 12K</a></li>

                                    <li class="text-truncate"><a href="/168a2304b0c.html">粉芯片 - 28K</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</footer>

<script type="text/javascript" src="/index.js" defer></script>
{% endblock %}