{% extends 'base_site.html' %}
{% block title %}
首页
{% endblock %}

{% block content %}

<main>
    <section class="slider-area">
        <div class="slider-active">            
            <div class="single-slider slider-bg1 slider-height d-flex align-items-center">
                <div class="container">
                    <div class="rowr">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8  col-sm-10">
                            <div class="hero-caption text-center">

                                <h1 data-animation="bounceIn" data-delay="0.2s">印迹不凡，始于1997</h1>
                                <p data-animation="fadeInUp" data-delay="0.4s">
                                    Green Rich(金瑞治)专注有机感光鼓芯研发二十余载，凭借高感度、高耐用性产品，广泛应用于激光打印机、传真机与复印机领域。持续创新，只为每一次清晰、稳定的输出表现。
                                </p>
                                <a href="/c108p1.html" class="btn_1 hero-btn mb-10" data-animation="fadeInUp"
                                    data-delay="0.7s">去看看</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider slider-bg2 slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-8 col-sm-10">
                            <div class="hero-caption text-center">

                                <h1 data-animation="bounceIn" data-delay="0.2s">合作共赢</h1>
                                <p data-animation="fadeInUp" data-delay="0.4s">
                                    合作共赢，携手创辉煌！我们致力于与您建立互利互惠的合作伙伴关系，共同追求业务成功和持续发展。</p>
                                <a href="/c109p1.html" class="btn_1 hero-btn"
                                    data-animation="fadeInUp" data-delay="0.7s">提交申请</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="gauto-find-area mt-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="find-box">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="find-text">
                                    <h3>常见机型</h3>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="find-form">
                                    <div class="row">

                                        <div class="col-4 col-md-3">
                                            <a href="/zt/508a1s.html">AURORA </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/509a1s.html">兄弟 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/510a1s.html">佳能 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/511a1s.html">爱普生 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/512a1s.html">富士施乐 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/513a1s.html">富士通 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/514a1s.html">惠普 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/515a1s.html">华为 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/516a1s.html">IBM </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/517a1s.html">奇谱 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/518a1s.html">柯尼卡美能达 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/519a1s.html">京瓷 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/520a1s.html">联想 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/521a1s.html">利盟 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/522a1s.html">MURATEC </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/523a1s.html">冲电气 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/524a1s.html">松下 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/525a1s.html">奔图 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/526a1s.html">理光 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/527a1s.html">三星 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/528a1s.html">夏普 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/529a1s.html">新都 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/530a1s.html">东芝 </a>
                                        </div>
                                        <div class="col-4 col-md-3">
                                            <a href="/zt/531a1s.html">施乐 </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="latest-items section-padding fix">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-12">
                    <div class="nav-button">
                        <nav>
                            <div class="nav-tittle">
                                <h3>最新上架</h3>
                            </div>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-link active" role="tab">综合
                                </a>
                                <a href="/168b0p1.html" class="nav-link">芯片</a><a href="/169b0p1.html"
                                    class="nav-link">碳粉</a><a href="/170b0p1.html" class="nav-link">墨盒与粉盒</a>

                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-one" role="tabpanel" aria-labelledby="nav-one-tab">
                    <div class="latest-items-active">
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/174a7050b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9181.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/174a7050b0c.html">转印辊(带齿轮)</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/174a7051b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9182.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/174a7051b0c.html">热敏电阻 (OEM)</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/174a7052b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9185.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/174a7052b0c.html">出纸辊组件</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/174a7053b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9184.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/174a7053b0c.html">热敏电阻 (OEM)</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/181a7054b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9186.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/181a7054b0c.html">下辊轴承</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/180a7055b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9187.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/180a7055b0c.html">上辊轴套</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/172a7056b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9188.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/172a7056b0c.html">定影灯 220V925W</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/181a7057b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9189.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/181a7057b0c.html">下包氟辊</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/172a7058b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9190.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/172a7058b0c.html">定影上辊</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="properties pb-30">
                            <div class="properties-card">
                                <div class="properties-img">
                                    <a href="/172a7059b0c.html"><img
                                            src="https://hc.aitanqin.com/uploadfile/product/pic/9191.jpg" alt=""></a>
                                </div>
                                <div class="properties-caption properties-caption2">
                                    <h3><a href="/172a7059b0c.html">CET定影器 220V</a></h3>
                                    <div class="properties-footer">
                                        <div class="price">
                                            <span>360.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-10 col-md-11">
                    <div class="h1-testimonial-active">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>客户评介</h2>
                                    <p>这是有实力的商家，有自家工作，合作多年，诚信可靠。</p>
                                </div>
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="images/gallery/founder-img.png" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>陈量</span>
                                        <p>业内知名商家</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-top-cap">
                                    <h2>客户评介</h2>
                                    <p>京东诚信商家，产品质量可靠，合作愉快。</p>
                                </div>
                                <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                    <div class="founder-img">
                                        <img src="images/gallery/founder-img.png" alt="">
                                    </div>
                                    <div class="founder-text">
                                        <span>李明22</span>
                                        <p>京东销售经理</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="latest-items section-padding fix">
        <div class="row">
            <div class="col-xl-12">
                <div class="section-tittle text-center mb-40">
                    <h2>热销产品</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="latest-items-active">
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/168a7123b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/9255.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/168a7123b0c.html">黄色粉芯片 - 22.5K</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/168a1536b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/3673.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/168a1536b0c.html">黑色粉芯片 - 18K</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/170a1024b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/3161.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/170a1024b0c.html">黑色成品粉 - 450g/Pc - 20K</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/174a768b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/2904.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/174a768b0c.html">上分离爪</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/168a2304b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/images/20231101/y4q4fwx32iz-ebbaseimg.png"
                                    alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/168a2304b0c.html">粉芯片 - 28K</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>120.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/178a512b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/2648.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/178a512b0c.html">带芯搓纸轮（新）</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/170a1792b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/3927.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/170a1792b0c.html">CET专利直销机黑色成品粉-化学粉 - 595g/Pc - 36K</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/178a2048b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/4183.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/178a2048b0c.html">进纸轮/分纸轮皮套-PU(红色)</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/178a1280b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/3416.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/178a1280b0c.html">长寿命搓纸轮</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="properties pb-30">
                    <div class="properties-card">
                        <div class="properties-img">
                            <a href="/172a2560b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/product/pic/4702.jpg" alt=""></a>
                        </div>
                        <div class="properties-caption properties-caption2">
                            <h3><a href="/172a2560b0c.html">定影膜</a></h3>
                            <div class="properties-footer">
                                <div class="price">
                                    <span>360.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="home-blog">
        <div class="container">
            <div class="row justify-content-center">
                <div class="cl-xl-7 col-lg-8 col-md-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-40">
                        <h2><a href="/177b0p1.html">行业资讯</a></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blogs mb-30">
                        <div class="blog-img">
                            <a href="/177a10b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/images/20231101/u3j0wsyayze-ebbaseimg.png"
                                    alt="听当下，见未来——2023珠海国际办公设备及耗材行业峰会拉开序幕"></a>
                        </div>
                        <div class="blogs-cap">
                            <span><a style="color:#ccc" href="/177b0p1.html">行业资讯</a></span>
                            <h5><a href="/177a10b0c.html">听当下，见未来——2023珠海国际办公设备及耗材行业峰会拉开序幕</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blogs mb-30">
                        <div class="blog-img">
                            <a href="/177a9b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/images/20231101/miotkmsuzxu-ebbaseimg.png"
                                    alt="400+办公设备及耗材企业齐聚珠海，只为了这件事"></a>
                        </div>
                        <div class="blogs-cap">
                            <span><a style="color:#ccc" href="/177b0p1.html">行业资讯</a></span>
                            <h5><a href="/177a9b0c.html">400+办公设备及耗材企业齐聚珠海，只为了这件事</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-blogs mb-30">
                        <div class="blog-img">
                            <a href="/177a8b0c.html"><img
                                    src="https://hc.aitanqin.com/uploadfile/images/20231101/ricgdnpwuda-ebbaseimg.png"
                                    alt="办公室办公用品耗材管理办法,规范办公用品固定资产管理"></a>
                        </div>
                        <div class="blogs-cap">
                            <span><a style="color:#ccc" href="/177b0p1.html">行业资讯</a></span>
                            <h5><a href="/177a8b0c.html">办公室办公用品耗材管理办法,规范办公用品固定资产管理</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="gauto-about-area section_70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-left">
                        <h3>关于我们</h3>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;{{ widget("66efd16d10df7056e43b9c4e") }}
                            &nbsp;&nbsp;<a style="color:#000" href="/c108p1.html"> 了解更多>> </a>

                        </p>
                        <div class="about-list">
                            <ul>
                                <li><i class="fa fa-check"></i>三家直销</li>
                                <li><i class="fa fa-check"></i>全球配送</li>
                                <li><i class="fa fa-check"></i>诚信保障</li>
                                <li><i class="fa fa-check"></i>无忧售后</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right">
                        <img src="images/about.png" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="categories-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="images/icon/services1.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>快速物流全球配送</h5>
                            <p>支持国内、国外物流及快递配送</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".2s">
                        <div class="cat-icon">
                            <img src="images/icon/services2.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>安全支付</h5>
                            <p>采用微信支付，支付宝，PayPal安全可靠</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".4s">
                        <div class="cat-icon">
                            <img src="images/icon/services3.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>退款保证</h5>
                            <p>7天无条件退货退款</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-cat mb-50 wow fadeInUp text-center" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="cat-icon">
                            <img src="images/icon/services4.svg" alt="">
                        </div>
                        <div class="cat-cap">
                            <h5>售后支付</h5>
                            <p>24小时客服全天在线</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="container mt-20 a-white f-link">
    友情连接:
    <a target=_blank href="http://www.ebsite.net">ebsite</a>

</div>
<footer>
    <div class="footer-wrapper gray-bg">

        <div class="footer-area footer-padding">

            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-8">
                        <div class="single-footer-caption mb-20">
                            <div class="single-footer-caption ">
                                <!-- logo -->
                                <div class="footer-logo ">
                                    <a href="/"><img src="/images/logo/logo2_footer.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>配件</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/182a7113b0c.html">加热片 110V</a></li>

                                    <li class="text-truncate"><a href="/178a1280b0c.html">长寿命搓纸轮</a></li>

                                    <li class="text-truncate"><a href="/174a768b0c.html">上分离爪</a></li>

                                    <li class="text-truncate"><a href="/178a512b0c.html">带芯搓纸轮（新）</a></li>

                                    <li class="text-truncate"><a href="/178a2048b0c.html">进纸轮/分纸轮皮套-PU(红色)</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>感光鼓及套鼓</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/171a7104b0c.html">日本鼓（10mm） - 150K</a></li>

                                    <li class="text-truncate"><a href="/171a513b0c.html">DU102C/104 套鼓 - 230K</a></li>

                                    <li class="text-truncate"><a href="/171a514b0c.html">DR512K 套鼓（黑色） - 130K</a></li>

                                    <li class="text-truncate"><a href="/171a515b0c.html">DR512 套鼓（彩色） - 90K</a></li>

                                    <li class="text-truncate"><a href="/171a1026b0c.html">单鼓（日本） - 150K</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>墨盒与粉盒</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/170a1792b0c.html">CET专利直销机黑色成品粉-化学粉 - 595g/Pc -
                                            36K</a></li>

                                    <li class="text-truncate"><a href="/170a1024b0c.html">黑色成品粉 - 450g/Pc - 20K</a></li>

                                    <li class="text-truncate"><a href="/170a1025b0c.html">TN911成品粉 - 1740g/Pc - 80K</a>
                                    </li>

                                    <li class="text-truncate"><a href="/170a1793b0c.html">CET专利黄色成品粉-化学粉 - 340g/Pc -
                                            21K</a></li>

                                    <li class="text-truncate"><a href="/170a7087b0c.html">成品粉 - 14.1K</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>芯片</h4>
                                <ul>

                                    <li class="text-truncate"><a href="/168a7123b0c.html">黄色粉芯片 - 22.5K</a></li>

                                    <li class="text-truncate"><a href="/168a6656b0c.html">黑色粉芯片 - 10K</a></li>

                                    <li class="text-truncate"><a href="/168a4609b0c.html">黑色粉芯片 - 15K</a></li>

                                    <li class="text-truncate"><a href="/168a4608b0c.html">品红粉芯片 - 12K</a></li>

                                    <li class="text-truncate"><a href="/168a2304b0c.html">粉芯片 - 28K</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>
</footer>

<script type="text/javascript" src="/index.js" defer></script>
{% endblock %}