{% extends 'base_site.html' %}
{% block title %}
{{key_word}}
{% endblock %}

{% block content %}


<div class="container container-fluid customize-width mt-3 mb-3">  
    
    <div class="tabfg">
       <div class="tabmh">
           <h4 class="text-gray text-lg">
             <i class="fa fa-bookmark-o"></i> {{key_word}}
           </h4> 
            
        </div> 
        {% if data_list %}
        <div class="list-group eb-list-box">

            {% for item in data_list%}
                <a href="{{item.get_url()}}" class="eb-list-item list-group-item list-group-item-action d-flex gap-3 py-3 score-lst-box" aria-current="true">
                    {% if item.small_pic %}
                    <img style="width: 120px;height: 80px" src="{{item.small_pic}}" > 
                    {% endif %}
                    <div class="d-flex gap-2 w-100 justify-content-between">
                        <div>
                            <h5 class="mb-0">{{item.title}}</h5>
                            <p class="mb-0 opacity-75 box-sub-info">
                                {{item.seo_description}}                                       
                            </p>
                            <span style="color:darkgray;font-size:12px;"> {{item.add_time|to_time_name}}</span> 
                        </div> 
                    </div>
                </a>
            {% endfor %} 
        </div>
        {% else %}
           <div class="container container-fluid customize-width d-flex justify-content-center p-5">
              找不到与【{{ key_word }}】相关的内容！
            </div>
        {% endif %}
    </div> 
</div>
{% include 'loading_more.html' %}
<div class="container container-fluid customize-width d-flex justify-content-center">   
 {{pager}}
</div>
  
{% endblock %}