<!DOCTYPE html>
<html lang="zh-Hans" class="io-white-mode">
  <head>
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>{% block title %}{% endblock %}-{{SiteName}}</title>
    <link rel="icon" href="/favicon.svg"/>
    <meta name="keywords" content="EbSite,免费建站,开源CMS" />
    <meta name="description" content="{{ widget("66efd16d10df7056e43b9c4e") }}" />
    <link rel="stylesheet" href="{{config.cdn}}/gh/yibo7/ebcdn@1.2/bootstrap/5/css/bootstrap.min.css" type="text/css">
    <link rel='stylesheet' href='/css/style.css?ver=0.1' type='text/css' media='all' />
    <link rel='stylesheet'  href='/css/index.css?ver=0.1' type='text/css' media='all' />
  </head>

  <body class="home blog sidebar_no theme-intro">
     <!-- left-menu start -->
    <div id="sidebar" class="sticky sidebar-nav fade">
      <div class="modal-dialog h-100 sidebar-nav-inner">
        <div class="sidebar-logo border-bottom border-color">
          <!-- PC logo -->
          <div class="logo overflow-hidden">
              <a href="/" ><img src="/images/logo.png" style="height: 39px" alt="logo"></a>
          </div>
          <!-- PC logo end -->
        </div>
        <div class="sidebar-menu flex-fill">
          <div class="sidebar-scroll">
            <div class="sidebar-menu-inner ">
              <ul id="pc-menus" class="navbar-nav">
                {{ widget("6833e46560b94dfc43ccb05f") }}
              </ul>
            </div>
          </div>
        </div>
        <div class="border-top py-2 border-color">
          <div class="flex-bottom">
            <ul>
              <li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72 sidebar-item">
                <a href="/c103p1.html">
                  <i class="fa fa-star" aria-hidden="true" /></i>
                  <span>申请收录</span>
                </a>
              </li>
              <li id="menu-item-6047" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6047 sidebar-item">
                <a target="_blank" rel="noopener" href="/images/qr.jpg">
                  <i class="fa fa-wechat" aria-hidden="true" /></i>
                  <span>加入社群</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- left-menu end -->
    <div class="main-content flex-fill">
      <div class="header-nav">
        <div id="header" class="page-header sticky">
          <div class="navbar navbar-expand-md">
            <div class="container-fluid p-0 position-relative">
              <div class="position-absolute w-100 text-center">
                <a href="/" class="navbar-brand d-md-none m-0" >
                  <img src="/images/logo2.png" class="logo-light" height="30">
                  <img src="/images/logo2.png" class="logo-dark d-none" height="30"></a>
              </div>
                <!--小屏下的菜单开关-->
              <div class="nav-item d-md-none mobile-menu py-2 position-relative p-1">
                <a href="javascript:" id="sidebar-switch" data-toggle="modal" data-target="#sidebar">
                  <i class="fa fa-bars fa-lg"></i>
                </a>
              </div>
                <!--大屏下的菜单开关-->
              <div class="collapse navbar-collapse order-2 order-md-1">
                <div class="header-mini-btn">
                  <label>
                    <input id="mini-button" type="checkbox" checked="checked">
                    <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                      <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55"></path>
                      <path class="line--2" d="M0 50h80"></path>
                      <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45"></path>
                    </svg>
                  </label>
                </div>
                <ul class="navbar-nav navbar-top site-menu mr-4">
                  <li class="menu-item menu-item-type-taxonomy menu-item-object-favorites menu-item-has-children ">
                    <a>
                      <i class="fa fa-gift fa-lg icon-fw icon-lg" ></i>
                      <span>热门话题</span>
                    </a>
                    <ul class="sub-menu">
                         {{ widget("6836c2ac8e1084cb3c787310") }}
                    </ul>
                  </li>

                  <li id="menu-item-4908" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4908">
                    <a target="_blank" rel="noopener" href="/c2p1.html">
                      <i class="fa fa-fire fa-lg" ></i>
                      <span>行业快报</span></a>
                  </li>

                </ul>
              </div>

              <ul class="nav navbar-menu icon-list text-xs order-1 order-md-2 position-relative p-1">
                  <li class="nav-login ml-3 ml-md-4" id="login_info" ><a href="/login" title="登录">登录</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="placeholder"></div>
      </div>
      {% block content %}
      {% endblock %}

    </div>
    <!-- 浮动工具条 -->
    <footer>
      <div id="footer-tools" class="d-flex flex-column">
        <a href="javascript:" id="go-to-up" class="btn rounded-circle go-up m-1" rel="go-top">
          <i class="fa fa-arrow-circle-o-up"></i>
        </a>
        <a class="btn rounded-circle custom-tool0 m-1" href="/images/qr.jpg" target="_blank" data-toggle="tooltip" data-placement="left" title="微信" rel="external noopener nofollow">
          <i class="fa fa-wechat"></i>
        </a>
        <a class="btn rounded-circle custom-tool1 m-1" href="mailto:cqs263@163.com" target="_blank" data-toggle="tooltip" data-placement="left" title="Email" rel="external noopener nofollow">
          <i class="fa fa-envelope-o"></i>
        </a>
        <a href="javascript:" id="switch-mode" class="btn rounded-circle switch-dark-mode m-1" data-toggle="tooltip" data-placement="left" title="夜间模式">
          <i class="mode-ico fa fa-moon-o"></i>
        </a>
      </div>
    </footer>

    <div class="offcanvas offcanvas-start" style="z-index: 2055; width: 250px;" id="myOffcanvas">
          
          <div class="index-so-box">
            <form onsubmit="return ChkSo(this);" method="get" action="/search.html" >
              <div class="input-group mt-3 mb-3">
                <input type="text" name="k" class="form-control" placeholder="搜索请输入关键词">
                  <button type="submit" style="background-color: #ee5f11" class="btn">
                    <i style="color: #fff;" class="fa fa-search"></i>
                  </button>
                </div>
            </form>
          </div>
          <div class="sidebar-menu flex-fill">
              <div class="sidebar-scroll">
                <div class="sidebar-menu-inner ">
                  <ul id="offcanvas-menus" class="navbar-nav">
                     
                  </ul>
                </div>
              </div> 
            </div>
            
    </div>
    <script src="{{config.cdn}}/gh/yibo7/ebcdn@1.2/jquery/jquery-3.7.1.min.js" defer></script>
    <script src="{{config.cdn}}/gh/yibo7/ebcdn@1.2/bootstrap/5/js/bootstrap.bundle.min.js" defer></script>
    <script src="/js/comm.js" defer></script>
     <script type="text/javascript" src="/eblinks.js?ver=0.1" defer></script>
    </body>

</html>