{% extends 'base_site.html' %}
{% block title %}
    {{model.name}}
{% endblock %}

{% block content %}
    <style>
    .list-group-item:first-child {
          border-top: none;
        }
    .list-group-item {
  border-radius: 0 !important;
}

    </style>
<div  class="d-lg-none" style="height:50px;"></div>

<div class="container container-fluid customize-width mt-3 ">

    <div class="tabfg p-3">

    <ul id="subtab" class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" >{{model.name}}</a>
                    </li>
                    {{ widget("683af76a871b56afeccfe09e") }}
                </ul>
        {%  if data_list %}
            <div  class="list-group eb-list-box">
                {% for item in data_list%}
                    <a href="{{item.get_url()}}" class="eb-list-item list-group-item list-group-item-action d-flex gap-3 py-3 score-lst-box" aria-current="true">
                        {% if item.small_pic %}
                        <img style="width: 120px;height: 80px" src="{{item.small_pic}}" >
                        {% endif %}
                        <div class="d-flex gap-2 w-100 justify-content-between">
                            <div>
                                <h5 class="mb-0">{{item.title}}</h5>
                                <p class="mb-0 opacity-75 box-sub-info">
                                    {{item.seo_description}}
                                </p>
                                <span style="color:darkgray;font-size:12px;"> {{item.add_time|to_time_name}}</span>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
            <div class="p-5 text-center">暂无数据</div>
        {% endif %}
    </div>
</div>
{% include 'loading_more.html' %}
<div class="container container-fluid customize-width d-flex justify-content-center">
 {{pager}}
</div>

{% endblock %}