{% extends 'base_admin.html' %}
{% block content %}

<div class="row eb-box">
    <div class="col-sm-12 col-md-12 ">
        <div class="block-flat">
            <div class="boxheader">
                <h3>保存用户组</h3>
            </div>
            <div class="content">

                <form method="post">
                    <div class="mb-3">
                        <label>用户组名称</label>
                        <input value="{{model.name}}" name="name"  style="max-width:300px" class="form-control" required>
                        <div class="invalid-feedback">请输入用户组名称。</div>
                    </div>
                    <div class="mb-3">
                        <label>购买价格</label>
                        <input value="{{model.price}}" name="price"  style="max-width:300px" class="form-control" required>
                        <div class="invalid-feedback">请输入正确的价格。</div>
                    </div>
                    <div class="mb-3">
                        <label>可得积分</label>
                        <input value="{{model.credits}}" name="credits"  style="max-width:300px" class="form-control" required>
                        <div class="invalid-feedback">请输入正确的整数。</div>
                    </div>
                    <input hidden value="{{model['_id']}}" name="_id" >
                    <button class="btn btn-primary mb-3" type="submit">   保  存   </button>
                    {%if err%}
                        <div class="alert alert-danger">{{err}}</div>
                    {%endif%}
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}