{% extends 'base_site.html' %}
{% block title %}
首页
{% endblock %}

{% block content %}

<div id="banner_slider" class="carousel slide banner-section" data-ride="carousel">

    <ul class="carousel-indicators">
      <li data-target="#banner_slider" data-slide-to="0" class="active"></li>
      <li data-target="#banner_slider" data-slide-to="1"></li>
    </ul>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner-text">
                    <h1 class="text-white">EbSiteCMS</h1>
                    <p class="text-white">EbSite CMS 是一款开源、轻量级、高扩展性的内容管理系统，适用于个人开发者、独立站长、中小型企业等多种应用场景。</p>
                    </div>
                    <div class="banner-img">
                        <figure class="home-banner-image">
                            <img class="img-fluid" src="images/banner-img.svg" alt="">
                        </figure>
                        </div>
                    <div class="text-paragraph">
                    <p class="text-white">自带丰富的模块、部件、插件, <span> 让你省去70%的工作,</span>点击下载即可使用.</p>
                    <div class="banner-button list-inline">
                    <div class="primary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/ebsite_cms" class="primary-btn button-effect">EBSITE CMS 7</a>
                    </div>
                    <div class="secondary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/ebsite_cms" class="secondary-btn button-effect"> 文 档 </a>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="carousel-item slider-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="banner-text">
                    <h1 class="text-white">Vercel一键部署</h1>
                    <p class="text-white">你可以一键将EbSite CMS部署Vercel平台，实现一个独立且永久免费的个人或企业网站</p>
                    </div>
                    <div class="banner-img">
                        <figure class="home-banner-image">
                            <img class="img-fluid" src="images/slider-2-banner-img.svg" alt="">
                        </figure>
                    </div>
                    <div class="text-paragraph">
                        <div>
                            <ul class="text-white list-unstyled">
                                <li><i class="fa fa-delicious" aria-hidden="true" /></i>点击【一键部署】按钮.</li>
                                <li><i class="fa fa-calculator" aria-hidden="true" /></i>填写网站数据库连接.</li>
                                <li><i class="fa fa-th-large" aria-hidden="true" /></i> 填写网站密钥.</li>
                            </ul>
                        </div>
                    <div class="banner-button list-inline">
                    <div class="primary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/eb_bbs" class="primary-btn button-effect">一键部署</a>
                    </div>
                    <div class="secondary-button list-inline-item">
                        <a target="_blank" href="https://github.com/yibo7/eb_shop" class="secondary-btn button-effect">安装说明</a>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
 
    </div>
  </div>

    <!-- WEB HOSTING -->
    <section class="hosting-section">
        <div class="container">
        <div class="text-center hosting-section-setting">
            <h1>EbSite 模块系统</h1>
            <p> 目前EbSite 官方集成模型有app_apis（开放API系统），credits_sys（积分与支付系统），ai_content （AI内容管理），你还可以轻易的开发属于自己的模块。</p>
        </div>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="plan p-xl-5 p-lg-4 p-md-5 p-sm-5 p-4 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-4 mt-4">
                         <div class="hosting-text">已开源</div>
                        <h4 class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-2">开放API系统</h4>
                        <p class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">
                            基础【开放API系统】你可以快速开发各种客户端应用，比如手机APP，微信小程序，PC桌面系统等。
                        </p>
                        <ul class="list-unstyled float-xl-none float-lg-none float-md-left float-sm-left">
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/hosting-disk-icon.svg" alt="Disk Space"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">三方登录:微信、苹果...</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/hosting-bandwidth-icon.svg" alt="Data Bandwidth"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">用户管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/hosting-email-icon.svg" alt="Email Accounts"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">分类、内容与专题获取</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/hosting-domain-icon.svg" alt="LTDs Domains"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">内容详情</span></li>
                        </ul>
                        <div class="pt-xl-3">
                           <div class="hosting-button pt-xl-3 pt-lg-3 pt-md-3 pt-sm-2">
                            <a class="hosting-btn button-effect" href="https://app.apifox.com/project/4969772"> 查看更多 </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="plan variation-2 p-xl-5 p-lg-4 p-md-5 p-sm-5 p-4 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-4 mt-4">
                         <div class="server-text">已开源</div>
                        <h4 class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-2">积分与支付系统</h4>
                        <p class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">你可以基于用户组与积分套餐的组合，开发类似于VIP用户系统的网站或APP应用。</p>
                        <ul class="list-unstyled float-xl-none float-lg-none float-md-left float-sm-left">
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/server-disk-icon.svg" alt="Disk Space"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">积分的初始设置</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/server-bandwidth-icon.svg" alt="Data Bandwidth"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">积分审核管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/server-email-icon.svg" alt="Email Accounts"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">积分流水管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/server-domain-icon.svg" alt="LTDs Domains"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">积分套餐管理</span></li>
                        </ul>
                        <div class="pt-xl-3">
                        <div class="server-button pt-xl-3 pt-lg-3 pt-md-3 pt-sm-2">
                            <a class="server-btn button-effect" target="_blank" href="https://github.com/yibo7/ebsite_cms"> 去下载 </a>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="plan p-xl-5 variation-3 p-lg-4 p-md-5 p-sm-5 p-4 mt-xl-0 mt-lg-0 mt-md-5 mt-sm-4 mt-4">
                        <div class="vps-text">测试中</div>
                        <h4 class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-2">AI内容管理</h4>
                        <p class="mb-xl-4 mb-lg-4 mb-md-4 mb-sm-4">通过AI自动更新网站文章，文章内容的创作可以来自分类介绍，自定义关键词等。</p>
                        <ul class="list-unstyled float-xl-none float-lg-none float-md-left float-sm-left">
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/vps-disk-icon.svg" alt="Disk Space"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">AI接口管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/vps-bandwidth-icon.svg" alt="Data Bandwidth"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">分类文章及计划任务管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/vps-email-icon.svg" alt="Email Accounts"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">自定义关键词管理</span></li>
                            <li><figure class="float-left hosting-list-icon"> <img class="img-fluid" src="images/vps-domain-icon.svg" alt="LTDs Domains"></figure><span class="specs pl-xl-3 pl-lg-3 pl-md-3 pl-sm-3 pl-3">自动写作指令提示词</span></li>
                        </ul>
                        <div class="pt-xl-3">
                        <div class="vps-button pt-xl-3 pt-lg-3 pt-md-3 pt-sm-2">
                            <a class="vps-btn button-effect" target="_blank" href="https://github.com/yibo7/ebsite_cms">去下载</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="features-section">
    <div class="container">
    <div class="text-center text-white feature-heading">
        <h1>EbSite 特色</h1>
        <p>EbSite 有诸多特色功能值得我们探讨与使用，在这里只列举以下几项</p>
    </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 plan-box-network">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="images/featuere-img-1.svg" alt="">
                    </figure>
                    <h3>主题皮肤</h3>
                    <p class="mb-0">用户可以随机创建自己的主题与页面模板，页面模板支付文件模式，也支持在线模式（也就是不用创建文件，直接在后台管理模板的代码）</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 plan-box-hardware">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="images/featuere-img-2.svg" alt="">
                    </figure>
                    <h3>模块集成系统</h3>
                    <p class="mb-0">
                        EbSite本身提供了强大的CMS系统，但某些特殊功能只能通过模块的方式来扩展，比如VIP积分系统，开放客户端API系统，AI内容管理系统等。
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 plan-box-technology">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="images/featuere-img-3.svg" alt="">
                    </figure>
                    <h3>可视化部件</h3>
                    <p class="mb-0">
                        可视化部件是EbSite的一大特色功能，通过部件可以让你的主题模板丰富多彩，随心所欲。EbSite官方提供了丰富的部件，同时开发者也可以开发自己的部件。
                    </p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="feature-plan-box text-center">
                    <figure class="feature-image-list">
                        <img class="img-fluid" src="images/featuere-img-4.svg" alt="">
                    </figure>
                    <h3>更多特色</h3>
                    <p class="mb-0">
                        在EbSite中你可以使用很多可扩展属性，比如插件，触发器，计划任务，全文搜索，自定义控件，分类模型，内容模型，用户模型，表单模型，自定义报表等。
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

    <section class="guarrantees-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="guarrantee-text">
                    <h1>使用声明</h1>
                    <h4 >EbSite免费开源使用协议声明</h4>
                    <p class="mb-xl-5 mb-lg-5 mb-md-4 mb-sm-4 mb-4">
                        使用EbSite产品开发项目的同时要遵守以下规定:<br/>
                        1、保留EbSite商标<br/>
                        2、不得使用EbSite开发违法违规项目<br/>
                        3、不得使用EbSite开发违背道德伦理的项目<br/>

                    </p>
                    <div class="guarrantees-button">
                        <a class="guarrantees-btn button-effect" href="/a17.html"> 社群支持 </a>
                    </div>
                </div>
                </div>
                <div class="plan-box-setting text-center col-lg-6 col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 plan-box-award">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="images/guarrantee-img-1.svg" alt="">
                                </figure>
                                <h4 class="m-0">完全开源</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 plan-box-guarrantee">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="images/guarrantee-img-2.svg" alt="">
                                </figure>
                                <h4 class="m-0">无版权限制</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 plan-box-backup">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="images/guarrantee-img-3.svg" alt="">
                                </figure>
                                <h4 class="m-0">可商业使用</h4>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="plan-box">
                                <figure class="guarrantee-image">
                                    <img class="img-fluid" src="images/guarrantee-img-4.svg" alt="">
                                </figure>
                                <h4 class="m-0">请保留官方声明</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="friend-link">
    <div class="container ">
        <a>友情连接:</a> {{ widget("65533cfe260493275af1c1d2") }}
    </div>
</div>

{% endblock %}